@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.editter{
  margin-left: 30;
  
  }
  .editter1{
    margin-left: 30;
  }
  .editter2{
    margin-top: 16px;
  }

  .footer-icons{
  width: 1440px;
   height: 142px; 
   
}

.about-image{
  width: 1050px;
  height: 729px;

}
  
